@use '../../styles/design-system.scss';

$blueish-grey: rgb(78, 80, 88);
$grey: rgb(143, 144, 149);
// $lightBlue: rgb(208, 214, 249);
$darkBlueishGrey: #383B4B;
$darkNavy: rgb(11, 13, 25);

.background {
  background-image: 
    linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
    url('../../public/assets/crew/background-crew-desktop.jpg');
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.xPadding {
  width: 88.5%;
  // border: 1px solid grey;
}

.yPadding {
  padding-top: 40px;
  position: relative;
  padding-bottom: 76px;
  max-height: 900px;
}

.index {
  @extend .heading5;
  color: $blueish-grey;
  display: inline-block;
  width: 52px;
}

.heading5White {
  @extend .heading5;
  color: white;
  margin: 76px auto 24px;
  width: 77.1%;
  // border: 1px solid purple;
}

.rightAlign {
  display: flex;
  flex-direction: row-reverse;
  // border: 1px solid blue;
}

.textAndSubnav {
  margin-top: 152px;
}

.role {
  @extend .heading4;
  color: $grey;
  margin-bottom: 0;
}

.bodyTextExt {
  @extend .bodyText;
  width: 444px;
  height:251px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: scale-color(white, $alpha: -83%);
  border-radius: 9999px;
}

.subnav {
  list-style-type: none;
  padding-inline-start: 0;
  // border: 1px solid brown;
  display: flex;
  gap: 24px;
}

.heading3Ext {
  @extend .heading3;
  margin-top: 16px;
  margin-bottom: 26px;
}

.img {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

.canvas {
  background-color: $darkNavy;
  height: 100vh;
}

@media (min-width: 600px) and (max-width: 1279px) {
  .yPadding {
    padding-top: 0;
  }

  .heading5White {
    @include design-system.heading5Tablet;
    color: white;
    margin: 40px 0 0;
    padding-left: calc(8.2% - 24px);
  }

  .index {
    @include design-system.heading5Tablet;
    color: $blueish-grey;
    width: 36px;
  }

  .rightAlign {
    display: block;
  }

  .img {
    position: static;
    transform: translateX(0);
    margin: 0 auto;
    display: block;
  }

  .textAndSubnav {
    text-align: center;
    margin-top: 60px;
  }

  .xPadding {
    margin: 0 auto;
  }

  .bodyTextExt {
    margin: 0 auto;
  }

  .role {
    @include design-system.heading4Tablet;
    color: $grey;
  }

  .heading3Ext {
    @include design-system.heading3Tablet;
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .bodyTextExt {
    @include design-system.bodyTextTablet;
    width: 458px;
    height: 125px;
  }

  .circle {
    width: 10px;
    height: 10px;
  }

  .subnav {
    margin: 0 auto;
    // border: 1px solid yellow;
    justify-content: center;
    gap: 16px;
  }

  .img {
    height: 532px;
    object-fit: scale-down;
    margin-top: 41px;
  }
}

@media (max-width: 599px) {
  .yPadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading5White {
    @include design-system.heading5Mobile;
    text-align: center;
    margin-top: 0;
  }
  
  .index {
    @include design-system.heading5Mobile;
    color: $blueish-grey;
    width: 32px;
    text-align: left;
  }

  .rightAlign {
    display: block;
  }

  .xPadding {
    margin: 0 auto;
  }

  .img {
    position: static;
    transform: translateX(0);
    width: 327px;
    height: 223px;
    object-fit: scale-down;
    border-bottom: 1px solid $darkBlueishGrey;
    margin: 8px auto 0;
    display: block;
  }

  .circle {
    width: 10px;
    height: 10px;
  }

  .subnav {
    justify-content: center;
  }

  .textAndSubnav {
    margin-top: 28px;
    text-align: center;
  }

  .role {
    @include design-system.heading4Mobile;
    color: $grey;
    margin-top: 32px;
  }

  .heading3Ext {
    @include design-system.heading4Tablet;
    margin-top: 6px;
    margin-bottom: 17px;
  }

  .bodyTextExt {
    @include design-system.bodyTextMobile;
    width: 327px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .img {
    left: 71%;
  }
}

@media screen and (min-width: 1441px) {
  .img {
    left: 1022px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .background {
    background-image: 
      linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
      url('../../public/assets/crew/background-crew-tablet.jpg');
    background-position-x: 50%;    
  }
}