@use '../../styles/design-system.scss';
@use 'sass:color';

$blueish-grey: rgb(78, 80, 88);
$lightBlue: rgb(208, 214, 249);
$darkNavy: rgb(11, 13, 25);

.xPadding {
  width: 77.1%;
  margin: 0 auto;
}

.yPadding {
  padding-top: 40px;
  padding-bottom: 109px;
}

.heading5White {
  @extend .heading5;
  color: white;
  margin: 76px auto 48px;
  width: 77.1%;
}

.index {
  @extend .heading5;
  color: $blueish-grey;
  width: 52px;
  display: inline-block;
}

.background {
  background-image: 
    linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
    url('../../public/assets/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
}

.imageAndText {
  display: flex;
  justify-content: space-between;
}

.text {
  width: 445px;
}

.imgContainer {
  margin-left: 5.9%;
  margin-right: 5.9%;
  margin-top: 48px;
}

.ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  gap: 33px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.heading2Ext {
  @extend .heading2;
  margin-top: 38px;
  margin-bottom: 0;
}

.bodyTextExt {
  @extend .bodyText;
  margin: 16px auto 54px;
}

.stats {
  display: flex;
  border-top: 1px solid scale-color($lightBlue, $alpha: -75%);
  padding-top: 5px;
}

.attr {
  @extend .subheading2;
  color: $lightBlue;
  margin-bottom: 12px;
}

.attrLeft {
  @extend .attr;
  width: 221px;
}

.navTextExt {
  @extend .navText;
  color: $lightBlue;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-top: 3px solid rgba(0, 0, 0, 0); // keep text centered
  padding-bottom: 12px;
}

.navTextExt:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.navTextExtSelected {
  @extend .navText;
  border-bottom: 3px solid rgb(255, 255, 255);  
  border-top: 3px solid rgba(0, 0, 0, 0); // keep text centered
  padding-bottom: 12px;
}

.canvas {
  background-color: $darkNavy;
  height: 100vh;
}

.subheading1 {
  @extend .subheading1;
}


@media (min-width: 600px) and (max-width: 1279px) {
  .background {
    height: 1024px;
    background-size: cover;
  }

  .yPadding {
    padding-top: 0;
    padding-bottom: 27px;
  }

  .imageAndText {
    display: block;
  }

  .heading5White {
    @include design-system.heading5Tablet;
    color: white;
    margin: 40px 0 60px;
    padding-left: calc(8.2% - 24px);
  }

  .index {
    @include design-system.heading5Tablet;
    color: $blueish-grey;
    width: 36px;
  }

  .img {
    width: 300px;
    height: 300px;
  }

  .imgContainer {
    display: grid;
    place-items: center;
  }

  .text {
    margin: 50px auto 0;
    width: 100%;
    max-width: 573px;
    text-align: center;
  }

  .heading2Ext {
    @include design-system.heading2Tablet;
    margin-top: 36px;
  }

  .bodyTextExt {
    @include design-system.bodyTextTablet;
    margin-top: 4px;
  }

  .ul {
    margin: 0 auto;
    justify-content: center;
  }

  .stats {
    justify-content: center;
    // justify-items: stretch;
    gap: 104px;
  }
  
  .attrLeft {
    width: auto;
  };
}

@media (max-width: 599px) {
  .yPadding{
    padding-top: 0;
    padding-bottom: 25px;
  }

  .imageAndText {
    display: block;
  }

  .heading5White {
    @include design-system.heading5Mobile;
    // border: 1px solid pink;
    margin: 0px auto 32px;
    text-align: center;
  }

  .index {
    @include design-system.heading5Mobile;
    color: $blueish-grey;
    width: 32px;
    // border: 1px solid brown;
    text-align: left;
  }

  .img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    // border: 1px solid red;
  }

  .imgContainer {
    margin: 0 auto;
    display: grid;
    place-items: center;
  }

  .ul {
    margin: 20px auto 0;
    justify-content: center;
    gap: 25px;
  };

  .navTextExt {
    @include design-system.subheading2;
    color: $lightBlue;
  }

  .heading2Ext {
    @include design-system.heading2Mobile;
    margin-top: 20px;
  }

  .bodyTextExt {
    @include design-system.bodyTextMobile;
    margin-top: 0;
    margin-bottom: 32px;
    // border: 1px solid green;
  }

  .text {
    text-align: center;
    width: 327px;
    margin: 0 auto;
  }

  .xPadding {
    width: 100%;
    // border: 1px solid blue;
  }

  .stats {
    display: block;
    // border: 1px solid red;
  }

  .attrLeft {
    width: auto;
    margin-top: 25px;
  }

  .subheading1 {
    margin-bottom: 32px;
  }

  .navTextExtSelected {
    @include design-system.navTextTablet;
    border-bottom: 3px solid rgb(255, 255, 255);  
    border-top: 3px solid rgba(0, 0, 0, 0);
    padding-bottom: 12px;
  }  
}

@media (max-width: 768px) {
  .background {
    background-image: 
      linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
      url('../../public/assets/destination/background-destination-tablet.jpg');
    background-position-x: 50%;
  }
}

@media (max-width: 449px) {
  .background {
    background-image:
        linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
        url('../../public/assets/destination/background-destination-mobile.jpg');
    background-position-x: 50%;
  }
}