@use '../../styles/design-system.scss';
@use 'sass:color';

$blueish-grey: rgb(78, 80, 88);
$lightBlue: rgb(208, 214, 249);
$darkNavy: rgb(11, 13, 25);

.xPadding {
  width: 77.1%;
  margin: 0 auto;
}

.yPadding {
  padding-top: 40px;
  // height: 1000px;
}

.heading5White {
  @extend .heading5;
  color: white;
  margin: 76px auto 48px;
}

.index {
  @extend .heading5;
  color: $blueish-grey;
  margin-right: 24px;
}

.background {
  background-image: 
    linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
    url('../../public/assets/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.imageAndText {
  display: flex;
  justify-content: space-between;
  // border: 1px solid pink;
}

.text {
  width: 445px;
}

.imgContainer {
  margin-left: 5.9%;
  margin-right: 5.9%;
  margin-top: 48px;
}

.ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  gap: 33px;
}

.heading2Ext {
  @extend .heading2;
  margin-top: 50px;
  margin-bottom: 0;
}

.bodyTextExt {
  @extend .bodyText;
  margin-top: 16px;
  margin-bottom: 54px;
}

.stats {
  display: flex;
  border-top: 1px solid scale-color($lightBlue, $alpha: -75%);
  padding-top: 5px;
}

.attr {
  @extend .subheading2;
  color: $lightBlue;
  margin-bottom: 12px;
}

.attrLeft {
  @extend .attr;
  width: 221px;
}

.navTextExt {
  @extend .navText;
  color: $lightBlue;
}

.canvas {
  // background-color: $darkNavy;
  height: 100vh;
}

@media (min-width: 1280px) {
  .heading5White {
    width: 77.1%;
  }
}


@media (min-width: 600px) and (max-width: 1279px) {
  .background {
    background-image: 
      linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
      url('../../public/assets/destination/background-destination-tablet.jpg');
  }

  .yPadding {
    padding-top: 0;
    padding-bottom: 60px;
    // margin-bottom: 32px;
  }

  .imageAndText {
    display: block;
  }

  .heading5White {
    @include design-system.heading5Tablet;
    color: white;
    margin: 40px 0 60px;
    padding-left: calc(8.2% - 24px);
  }

  .index {
    @include design-system.heading5Tablet;
    color: $blueish-grey;
  }

  .img {
    width: 300px;
    height: 300px;
  }

  .imgContainer {
    display: grid;
    place-items: center;
  }

  .text {
    margin: 50px auto 0;
    width: 573px;
    text-align: center;

  }

  .heading2Ext {
    @include design-system.heading2Tablet;
    margin-top: 48px;
  }

  .bodyTextExt {
    @include design-system.bodyTextTablet;
    margin-top: 4px;
  }

  .ul {
    margin: 0 auto;
    justify-content: center;
  }

  .stats {
    justify-content: center;
    // justify-items: stretch;
    gap: 104px;
  }
  
  .attrLeft {
    width: auto;
  };

}