@use '../styles/design-system.scss';

$darkNavy: rgb(11, 13, 25);

.background {
  background-repeat: no-repeat;
  margin: 0 auto;
  // height: 100%;
}

.yPadding {
  padding-top: 40px;
  padding-bottom: 114px;
}

.bodyTextExt {
  @extend .bodyText;
  // border: 1px solid blue;
}

.heading1Ext {
  @extend .heading1;
  margin-top: 24px;
  margin-bottom: 20px;
}

.heading5Ext {
  @extend .heading5;
}

.exploreTxt {
  color: $darkNavy;
  font-size: 32px;
  text-transform: uppercase;
}

.exploreBtn {
  display: grid;
  place-items: center;
  background-color: white;
  width: 274px;
  height: 274px;
  border-radius: 9999px;
  align-self: end;
}

.textAndBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  // border: 2px solid white;
  height: 650px;
}

.text {
  align-self: end;
  width: 450px;
}

.xPadding {
  width: 77.1%;
  margin: 0 auto;
}

.canvas {
  background-color: $darkNavy;
  height: 100vh;
}

@media (min-width: 1280px) {

}

@media (min-width: 600px) and (max-width: 1279px) {
  .background {
    height: 1024px;
    background-size: cover;
  }

  .yPadding {
    padding-top: 0;
  }

  .bodyTextExt {
    @include design-system.bodyTextTablet;
    margin-top: 0;
  }

  .heading5Ext {
    @include design-system.heading5Tablet;
  }

  .heading1Ext {
    margin-top: 12px;
    margin-bottom: 12px;
  };

  .textAndBtn {
    display: block;
  }

  .text {
    text-align: center;
    margin: 106px auto;
  }

  .exploreBtn {
    margin: 36px auto 0;
    width: 242px;
    height: 242px;
  }
}

@media (min-width: 769px) {
  .background {
    background-image: url('../public/assets/home/background-home-desktop.jpg');
    background-position-x: 50%;
    // background-size: cover;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .background {
    background-image: url('../public/assets/home/background-home-tablet.jpg');
    background-position-x: 50%;
  }  
}