@use '../../styles/design-system.scss';

$blueish-grey: rgb(78, 80, 88);
$darkNavy: rgb(11, 13, 25);
$lightBlue: rgb(208, 214, 249);

.background {
  background-image:
    linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
    url('../../public/assets/technology/background-technology-desktop.jpg');
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.xPadding {
  width: 88.5%;
  // border: 1px solid grey;
}

.yPadding {
  padding-top: 40px;
  padding-bottom: 103px;
}

.heading5White {
  @extend .heading5;
  color: white;
  margin: 76px auto 24px;
  width: 77.1%;
}

.index {
  @extend .heading5;
  color: $blueish-grey;
  display: inline-block;
  width: 52px;
}

.subnav {
  list-style-type: none;
  padding-inline-start: 0;
  // border: 1px solid brown;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: flex-start;
  margin: 0;
}

.circle {
  @extend .heading4;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  border: 1px solid scale-color($lightBlue, $alpha: -75%);
  display: grid;
  place-items: center;
}


.circle:active {
  @extend .circle;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 9999px;
  display: grid;
  place-items: center;
  color: $darkNavy;
}

.rightAlign {
  display: flex;
  flex-direction: row-reverse;
  // border: 1px solid blue;
}

.imgTextSubnav {
  display: flex;
  justify-content: space-between;
  // border: 1px solid purple;
}

.textAndSubnav {
  display: flex;
  // border: 1px solid pink;
  margin-top: 112px;
  width: 49.5%;
  gap: 48px; // is really the minium gap, dictacted by space-between
  justify-content: space-between;
}

.navTextExt {
  @extend .navText;
  color: $lightBlue;
}

.text {
  width: 470px;
  // margin-left: 80px;
  // margin-right: 130px;

  // border: 1px solid yellow;
}

.heading3Ext {
  @extend .heading3;
  margin-top: 12px;
  margin-bottom: 0;
}

.bodyTextExt {
  @extend .bodyText;
  margin-top: 15px;
  width: 444px;
}

.canvas {
  background-color: $darkNavy;
  height: 100vh;
}

@media (min-width: 600px) and (max-width: 1279px) {
  .background {
    height: 1024px;
    background-size: cover;
  }

  .yPadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .rightAlign {
    display: block;
  }

  .xPadding {
    margin: 0 auto;
    width: 100%;
  }

  .heading5White {
    @include design-system.heading5Tablet;
    color: white;
    margin: 40px 0 0;
    padding-left: calc(8.2% - 24px);
  }

  .index {
    @include design-system.heading5Tablet;
    color: $blueish-grey;
    width: 36px;
  }

  .imgTextSubnav {
    display: block;
    margin: 60px auto 0;
    // border: 1px solid purple;
  }

  .textAndSubnav {
    display: block;
    margin: 52px auto 0;
    width: 100%;
  }

  .subnav {
    flex-direction: row;
    margin: 0 auto;
    // border: 2px solid green;
    justify-content: center;
    gap: 16px;
    // border: 1px solid yellow;
  }

  .circle {
    @include design-system.heading4Tablet;
    width: 60px;
    height: 60px;
  }

  .img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    object-fit: cover;
  }

  .text {
    text-align: center;
    margin: 0 auto;
    // border: 1px solid blue;
  }

  .navTextExt {
    margin-top: 46px;
  }

  .heading3Ext {
    @include design-system.heading3Tablet;
    margin-top: 16px;
  }

  .bodyTextExt {
    @include design-system.bodyTextTablet;

  }
}

@media (max-width: 599px) {
  .yPadding {
    padding-top: 0;
  }

  .rightAlign {
    display: block;
  }

  .xPadding {
    margin: 0 auto;
    width: 100%;
  }

  .img {
    width: 375px;
    height: 170px;
  }

  .heading5White {
    @include design-system.heading5Mobile;
    margin: 0px auto 32px;
    text-align: center;    
  }

  .index {
    @include design-system.heading5Mobile;
    color: $blueish-grey;
    width: 32px;
    text-align: left;
  }

  .imgTextSubnav {
    display: block;
  }

  .textAndSubnav {
    display: block;
    margin: 30px auto 0;
    width: 100%;
  }

  .subnav {
    flex-direction: row;
    justify-content: center;
  }

  .circle {
    @include design-system.heading4Mobile;
    width: 40px;
    height: 40px;

  }

  .text {
    width: 327px;
    text-align: center;
    margin: 26px auto 0;
  }

  .navTextExt {
    @include design-system.subheading2;
    color: $lightBlue;
  }

  .heading3Ext {
    @include design-system.heading4Tablet;
  }

  .bodyTextExt {
    @include design-system.bodyTextMobile;
    width: 327px;
    margin-top: 13px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .background {
    background-image: 
      linear-gradient(rgba(11, 13, 25, 0.4), rgba(11, 13, 25, 0.4)),
      url('../../public/assets/technology/background-technology-tablet.jpg');
    background-position-x: 50%;    
  }
}