@use 'design-system';

$lightBlue: rgb(208, 214, 249);

.nav {
  width: 77.1%;
  height: 100%;
  // border: 1px solid green;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.header {
  // width: 1385px;
  width: 100%;
  height: 96px;
  display: flex;
  // border: 1px solid orange;
  position: relative;
}

.ul {
  @extend .navText;
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
  gap: 48px;
  text-transform: uppercase;
  // border: 1px solid pink;
  height: 100%;
}

.index {
  padding-right: 10px;
}

.logoContainer {
  width: 11.45%;
  display: grid;
  place-items: center;
}

.line {
  height: 1px;
  width: calc(100% - 630px);
  position: absolute;
  background-color: white;
  top: calc(100% / 2);
  left: 0;
  opacity: 0.25;
}

.frosted {
  position: absolute;
  // background-color: green;
  background-color: white;
  opacity: 0.04;
  backdrop-filter: blur(20px);
  right: 0;
  height: 100%;

  // z-index: 20;
}

.modalBtn {
  width: 30px;
  height: 27px;
  display: grid;
  place-items: center;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin-top: 44px;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 1280px) {
  .frosted {
    width: calc(11.45% + 665px);
  }
}

@media (min-width: 600px) and (max-width: 1279px) {
  .frosted {
    width: calc(11.45% + 362px);
  }

  .logoContainer {
    width: 16.4%;
  }

  .ul {
    @include design-system.navTextTablet;
    gap: 36px;
  }

  .line {
    opacity: 0;
  }
}

@media (max-width: 599px) {
  .logo {
    width: 40px;
    height: 40px;
  }

  .header {
    height: 88px;
  }

  .logoContainer {
    width: 23.4%;
  }

  .nav {
    padding-right: 6.4%;
  }
}